* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333132;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #C0BCB5;
    border-radius: 4px;
  background: #fff;
  color: #C0BCB5;
  font-size: 16px;
  font-weight: 500; }
  input::-webkit-input-placeholder {
    color: #C0BCB5; }
  input::-moz-placeholder {
    color: #C0BCB5; }
  input::-ms-input-placeholder {
    color: #C0BCB5; }
  input::placeholder {
    color: #C0BCB5; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  padding: 0 32px 0 16px;
  color: #333132;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #C0BCB5;
  cursor: pointer;
  background: #fff url("../img/select-arrow.svg") no-repeat 96% center;
    background-size: 10px; }

select:disabled {
  opacity: .3; }

.select-disabled {
  color: #C0BCB5; }

.btn:disabled {
  background: #E4E5E6;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #C0BCB5;
  text-shadow: none; }

label {
  display: block;
  margin: 0 0 16px; }

button {
  outline: none;
  border: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: "Montserrat", sans-serif; }
  button:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1246px;
  z-index: 1; }

.svg-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 48px;
  border-radius: 4px;
  color: #333132;
  font-size: 16px;
  font-weight: 500;
  padding: 0 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn-accent {
  -webkit-box-shadow: 0 4px 8px rgba(181, 24, 39, 0.32), inset 0px -4px 8px rgba(231, 34, 52, 0.8);
          box-shadow: 0 4px 8px rgba(181, 24, 39, 0.32), inset 0px -4px 8px rgba(231, 34, 52, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#DD1528), to(#B51827));
  background: linear-gradient(180deg, #DD1528 0%, #B51827 100%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(74, 0, 0, 0.4); }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#B51827), to(#DD1528));
    background: linear-gradient(180deg, #B51827 0%, #DD1528 100%); }

.btn-white {
  -webkit-box-shadow: 0 0 4px rgba(192, 188, 181, 0.32), 0 4px 8px rgba(129, 122, 108, 0.16);
          box-shadow: 0 0 4px rgba(192, 188, 181, 0.32), 0 4px 8px rgba(129, 122, 108, 0.16);
  background: #fff; }
  .btn-white:hover {
    background: #B51827;
    color: #fff; }

h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto 32px;
  font-size: 36px;
  font-weight: 500; }

h2 {
  font-size: 35px;
  font-weight: 500;
  width: 100%; }

.bg-grey {
  background: #F6F6F5; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

header {
  -webkit-box-shadow: 0 0 24px rgba(129, 122, 108, 0.32);
          box-shadow: 0 0 24px rgba(129, 122, 108, 0.32);
  background: #fff;
  margin: 0 0 32px; }

.header-top {
  background: #817A6C;
  color: #fff;
  font-size: 12px; }
  .header-top .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 48px; }
  .header-top .links {
    color: #fff; }

.header-box .svg-icon {
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
  fill: #E4E5E6; }

.header-bottom {
  -webkit-box-shadow: 0 0 24px rgba(129, 122, 108, 0.32);
          box-shadow: 0 0 24px rgba(129, 122, 108, 0.32);
  background: #fff;
  padding: 16px 0;
  font-size: 14px; }
  .header-bottom .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-bottom .links {
    color: #333132;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-bottom .links .svg-icon {
      width: 12px;
      height: 14px;
      margin: 0 8px 0 0;
      fill: #817A6C; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .location .svg-icon {
    fill: #E4E5E6; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-social li {
    margin: 0 32px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      color: #C0BCB5;
      font-size: 12px; }
      .list-social li a svg {
        width: 16px;
        height: 16px;
        fill: #E4E5E6; }

.home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .home-menu li {
    margin: 0 32px 0 0; }
    .home-menu li:last-child {
      margin: 0; }
    .home-menu li a {
      font-size: 12px;
      color: #fff; }
      .home-menu li a:hover {
        color: #333132; }
    .home-menu li .active {
      color: #333132; }

.phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.links-call {
  margin: 0 0 0 20px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  margin: 0 auto; }
  .menu li {
    margin: 0 32px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #333132;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .menu li a:hover {
        color: #B51827; }
    .menu li .current {
      color: #B51827; }
  .menu .svg-icon {
    margin: 0 9.5px 0 0;
    fill: #817A6C;
    width: 12.5px;
    height: 12.5px; }

.links-basket {
  margin: 0 0 0 32px; }
  .links-basket .svg-icon {
    fill: #817A6C;
    width: 14px;
    height: 12px;
    margin: 0 9px 0 0; }

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-search button {
    width: 12.5px;
    height: 12.5px;
    background: transparent;
    margin: 0 9px 0 0; }
  .form-search input {
    border: none;
    width: 125px;
    font-size: 14px;
    color: #333132; }
    .form-search input::-webkit-input-placeholder {
      color: #333132; }
    .form-search input::-moz-placeholder {
      color: #333132; }
    .form-search input::-ms-input-placeholder {
      color: #333132; }
    .form-search input::placeholder {
      color: #333132; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 auto;
  max-width: 384px;
  width: 100%; }

.category-box {
  width: calc(100% - 416px);
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin: 0 0 32px; }
  .category-box:before {
    content: '';
    width: 100%;
    height: 239px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    left: 0;
    bottom: 0; }

.category-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.category-links {
  color: #fff;
  font-size: 36px;
  font-weight: 500; }

.category-box__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 32px 48px; }
  .category-box__content .list-dots {
    color: #fff;
    margin: 16px 0 0; }

.list-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-dots li {
    margin: 0 16px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list-dots li:last-child {
      margin: 0; }
    .list-dots li:before {
      content: '';
      display: inline-block;
      width: 4px;
      min-width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #B51827;
      margin: 0 10px 0 0; }

.category-box__min {
  width: 100%;
  max-height: 184px; }
  .category-box__min:before {
    height: 96px; }
  .category-box__min .category-links {
    font-size: 16px; }
  .category-box__min .category-box__content {
    padding: 32px 24px; }

.select-brand h2 {
  padding: 0 30px;
  margin: 10px 0 32px; }

.decor-bg {
  position: relative;
  padding: 48px 0; }
  .decor-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 260px;
    background: url("../img/decor-bg1.svg") no-repeat center top;
      background-size: 100%;
    z-index: 1; }
  .decor-bg .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.form-selected {
  max-width: 544px;
  width: 100%; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-group label {
    width: 49%; }
  .form-group select {
    background-position: 92% center; }

.select-brand__box {
  width: calc(100% - 544px);
  padding: 0 16px 0 0; }

.list-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  opacity: .3; }
  .list-mark:before, .list-mark:after {
    content: '';
    position: absolute;
    width: 104px;
    height: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .list-mark:before {
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); }
  .list-mark:after {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }
  .list-mark li {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.news {
  position: relative;
  padding: 32px 0; }
  .news h2 {
    text-align: center; }

.news-slider {
  width: 100%;
  padding: 0 50px; }

.slick-slide {
  outline: none; }

.news-card {
  width: 240px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
  margin: 32px auto 16px; }

.tag {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 12px;
  color: #fff;
  padding: 0 8px 0 16px;
  height: 24px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .tag:after {
    content: '';
    position: absolute;
    right: -10.5px;
    width: 0;
    height: 0;
    border-top: 24px solid #B51827;
    border-right: 10.5px solid transparent; }

.bg-red {
  background: #B51827; }

.bg-green {
  background: #02D656;
  color: #333132; }
  .bg-green:after {
    border-top-color: #02D656; }

.news-card__img {
  position: relative;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .news-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.news-card__body {
  padding: 24px 16px 28px; }

.news-card__title {
  font-size: 16px;
  font-weight: 500;
  color: #333132;
  margin: 0 0 48px; }

.price-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 4px; }

.old-price {
  text-decoration: line-through;
  color: #817A6C;
  margin: 0 0 0 8px;
  font-size: 12px;
  font-weight: normal; }

.list-check {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-check li {
    margin: 0 8px 0 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .list-check li:last-child {
      margin: 0; }
    .list-check li:before {
      content: '';
      width: 11px;
      height: 8px;
      display: inline-block;
      margin: 0 6px 0 0;
      background: url("../img/check.svg") no-repeat center;
        background-size: cover; }

.btn-add-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  border-top: 1px solid #E4E5E6;
  color: #333132;
  font-size: 12px; }
  .btn-add-card:hover {
    color: #B51827; }
  .btn-add-card .svg-icon {
    margin: 0 9px 0 0;
    width: 15px;
    height: 13px;
    fill: #817A6C; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-arrow {
  z-index: 1;
  opacity: 1;
  width: 13.5px;
  height: 27px; }
  .slick-arrow svg {
    width: 100%;
    height: 100%;
    stroke: #B51827; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow:hover svg {
    stroke: #C0BCB5; }

.about-articles {
  padding: 32px 0;
  position: relative; }
  .about-articles .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-articles:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: url("../img/decor-bg2.svg") no-repeat center;
      background-size: 100%;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .about-articles:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 260px;
    top: 0;
    background: url("../img/decor-bg2.svg") no-repeat center;
      background-size: 100%; }

.about-articles__box {
  width: 49%;
  background: #fff;
  border: 4px solid #817A6C;
  padding: 32px 48px 48px; }
  .about-articles__box h2 {
    margin: 0 0 24px; }
  .about-articles__box .btn {
    margin: 32px 0 0; }

.box-text {
  line-height: 24px; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }

.articles-item__name {
  color: #333132;
  font-weight: 500;
  margin: 0 0 10px; }

.articles-item {
  margin: 0 0 30px; }
  .articles-item:last-child {
    margin: 0; }

.category-news {
  background: #fff;
  margin: 0 16px 0 0;
  border: 1px solid #C0BCB5;
    border-radius: 4px;
  padding: 0 16px;
  color: #817A6C;
  font-size: 12px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.date-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #817A6C;
  font-size: 12px; }
  .date-news .svg-icon {
    width: 12px;
    height: 11px;
    margin: 0 10px 0 0;
    fill: #817A6C; }

.w-100 {
  width: 100%; }

.gallery-clients {
  padding: 32px 0; }
  .gallery-clients h2 {
    text-align: center;
    margin: 0 auto 32px; }

.gallery-clients__box {
  max-width: 504px;
  width: 100%;
  margin: 0 auto 16px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16); }

.gallery-clients__box-img {
  width: 100%;
  height: 330px; }
  .gallery-clients__box-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.gallery-clients__box-body {
  padding: 24px 32px 50px;
  font-size: 12px; }

.links-social {
  color: #333132;
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 500; }

.gallery-clients-slider, .article-gallery__slider {
  padding: 0 70px; }

.consultation {
  padding: 48px 0; }
  .consultation:before {
    background: url("../img/decor-bg3.svg") no-repeat center top;
      background-size: 100%; }
  .consultation h2 {
    max-width: 415px;
    width: 100%; }
  .consultation .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.form {
  max-width: 544px;
  width: 100%; }

footer {
  background: #333132 url("../img/footer-bg.png") repeat;
  color: #fff;
  background-blend-mode: multiply;
  position: relative;
  padding: 32px 0 80px; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .phone {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 16px; }
    footer .phone .svg-icon {
      fill: #817A6C; }
  footer .list-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    footer .list-social li {
      margin: 0 0 8px; }
      footer .list-social li a .svg-icon {
        margin: 0 8px 0 0;
        fill: #817A6C; }

.footer-box h3 {
  font-weight: 500;
  color: #E4E5E6;
  margin: 0 0 8px; }

.footer-menu {
  font-size: 12px;
  line-height: 24px; }
  .footer-menu li a {
    color: #C0BCB5; }

.btn-grey {
  -webkit-box-shadow: 0 0 4px rgba(51, 49, 50, 0.32), 0px 4px 8px rgba(51, 49, 50, 0.16);
          box-shadow: 0 0 4px rgba(51, 49, 50, 0.32), 0px 4px 8px rgba(51, 49, 50, 0.16);
  color: #fff;
  height: 48px;
  background: #817A6C; }

.developer {
  margin: 32px 0 0; }
  .developer img {
    margin: 0 0 0 auto; }

.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 280px;
  width: 100%;
  background: #ffff;
  height: 100%;
  overflow-y: auto;
  z-index: 7;
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
  padding: 30px 20px; }
  .mobile-menu .logo {
    margin: 0 auto 30px; }
  .mobile-menu .menu li {
    margin: 0 0 10px; }
    .mobile-menu .menu li a:hover {
      color: #B51827; }
  .mobile-menu .home-menu {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #817A6C;
    border-bottom: 1px solid #817A6C; }
    .mobile-menu .home-menu li {
      width: 100%;
      margin: 0 0 10px; }
      .mobile-menu .home-menu li a {
        font-size: 14px;
        color: #817A6C; }
        .mobile-menu .home-menu li a:hover {
          color: #B51827; }
  .mobile-menu .list-social .svg-icon {
    fill: #817A6C; }

.btn-close {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 0 20px auto; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #B51827; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.btn-burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 14px;
  cursor: pointer;
  margin: 0 0 0 10px; }
  .btn-burger span {
    width: 100%;
    height: 1px;
    background: #B51827; }

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 27px; }
  .pagination li {
    margin: 0 32px 0 0; }
    .pagination li:last-child {
      margin: 0; }
    .pagination li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #333132;
      font-size: 12px; }
      .pagination li a .svg-icon {
        margin: 0 13px 0 0;
        width: 5px;
        height: 10px;
        fill: none;
        stroke: #000000; }
      .pagination li a:hover {
        color: #B51827; }

.delivery {
  padding: 0 0 48px; }
  .delivery .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.delivery-content {
  width: 100%;
  max-width: 592px;
  margin: 0 auto; }

.delivery-box {
  margin: 0 0 24px; }
  .delivery-box:last-child {
    margin: 0; }
  .delivery-box h3 {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 500; }
  .delivery-box h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 16px; }
  .delivery-box ul li {
    width: 100%; }
  .delivery-box .list-dots {
    margin: 0 0 16px; }
    .delivery-box .list-dots li {
      margin: 0 0 16px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .delivery-box .list-dots li:before {
        margin: 10px 10px 0 0; }
      .delivery-box .list-dots li:last-child {
        margin: 0; }

.catalog-section h2 {
  text-align: center;
  margin: 0 auto 32px; }

.list-number {
  counter-reset: item; }
  .list-number li {
    margin: 0 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .list-number li:last-child {
      margin: 0; }
    .list-number li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      display: inline-block;
      margin: 0 10px 0 0; }

.subtitle {
  margin: 0 auto 24px;
  max-width: 592px;
  width: 100%;
  font-size: 24px;
  font-weight: 500; }

.img-wrapper {
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  width: 100%;
  max-height: 400px;
  overflow: hidden; }
  .img-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.dealers .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.dealers h2 {
  margin: 20px 0 0; }

.partners .img-wrapper {
  max-height: 428px; }

.mail {
  color: #B51827;
  text-decoration: underline; }

.phone-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.phone-partners {
  color: #333132;
  margin: 0 5px 0 0; }
  .phone-partners:last-child {
    margin: 0; }
  .phone-partners:hover {
    color: #B51827; }

.list-contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px; }
  .list-contacts li:last-child {
    margin: 0; }
  .list-contacts li a {
    margin: 0 5px 0 0; }
    .list-contacts li a:last-child {
      margin: 0; }

.dealers-box {
  margin: 32px 0 0; }
  .dealers-box h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px; }

.maps {
  width: 100%;
  max-width: 800px;
  margin: 32px auto 0;
  height: 400px; }
  .maps iframe {
    width: 100%;
    height: 100%; }

.list-requisites li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 16px; }
  .list-requisites li:last-child {
    margin: 0; }
  .list-requisites li p {
    color: #817A6C;
    min-width: 80px;
    margin: 0; }

.news-section {
  padding: 0 0 48px; }

.news-wrapper {
  max-width: 1008px;
  margin: 0 auto; }

.btn-load {
  margin: 32px auto 0; }

.news-box {
  width: 100%;
  margin: 0 0 32px;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .news-box:nth-child(-n+5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .news-box:last-child {
    margin: 0; }

.news-box__photo {
  width: 384px;
  height: 240px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .news-box__photo img {
    width: 100%;
    height: 1005px;
    -o-object-fit: cover;
       object-fit: cover; }

.news-box__content {
  width: calc(100% - 384px);
  padding: 0 0 0 32px; }
  .news-box__content .box-text {
    margin: 16px 0 0; }

.news-box__title {
  color: #333132;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px;
  max-width: 592px; }

.article-gallery {
  margin: 28px 0 0;
  width: 100%; }
  .article-gallery h4 {
    margin: 0 auto 24px;
    font-size: 18px;
    text-align: center;
    font-weight: 500; }

.article-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 24px;
  max-width: 94%;
  height: 330px;
  overflow: hidden; }
  .article-gallery__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.form-sorting {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .form-sorting label {
    margin: 0 16px 32px 0;
    width: 264px; }
  .form-sorting select {
    background-position: 94% center; }
  .form-sorting button {
    margin: 0 0 32px;
    max-width: 142px;
    width: 100%; }

.catalog-wrapper {
  padding: 16px 0 48px;
  width: 100%;
  background: url("../img/decor-bg4.svg") no-repeat center;
    background-size: 100%; }
  .catalog-wrapper .container {
    padding: 0 65px; }
  .catalog-wrapper .wrapper-row {
    width: calc(100% - 336px);
    padding: 0 0 0 32px; }
  .catalog-wrapper h3 {
    font-size: 24px;
    margin: 0 0 16px; }
  .catalog-wrapper .news-card {
    margin: 0 0 32px;
    width: 100%; }

.catalog-wrapper__content {
  max-width: 336px;
  width: 100%; }

.col-3 {
  width: 33.3%;
  padding: 0 8px; }

.col-4 {
  width: 25%;
  padding: 0 8px; }

.wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px; }

.category-section {
  padding: 0 0 48px; }
  .category-section .news-card {
    margin: 0 auto 16px; }
  .category-section .container {
    padding: 0 110px; }

.btn-load-card {
  margin: 16px auto 0; }

.category-col {
  display: none; }
  .category-col:nth-child(-n+16) {
    display: block; }
  .category-col .news-card {
    width: 100%; }

.product {
  padding: 0 0 48px; }

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-photo {
  width: calc(100% - 379px);
  padding: 0 32px 0 0; }

.product-slider-max__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 400px;
  overflow: hidden; }

.photo-max {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.product-slider-max__schema {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(51, 49, 50, 0.8);
  max-width: 176px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-slider-min {
  margin: 8px 0 0;
  padding: 0 148px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .product-slider-min .slick-current .product-slider-min__item:before {
    border-color: #B51827; }

.product-slider-min__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 80px;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative;
  margin: 0 auto;
  cursor: pointer; }
  .product-slider-min__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .product-slider-min__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.product-information {
  width: 379px; }
  .product-information .price-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 36px; }
  .product-information .old-price {
    text-decoration: none;
    margin: 5px 0 0 16px; }
  .product-information .list-check {
    color: #817A6C; }
  .product-information .list-dots {
    font-size: 12px; }
  .product-information .btn {
    margin: 16px 0 28px;
    width: 100%; }

.list-characteristics {
  width: 100%;
  line-height: 24px;
  margin: 0 0 24px; }
  .list-characteristics li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .list-characteristics li p {
      color: #817A6C;
      min-width: 140px; }

.links-red, .color-accent {
  color: #B51827; }

.product-info-box {
  margin: 0 0 24px; }
  .product-info-box:last-child {
    margin: 0; }
  .product-info-box h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 16px; }
  .product-info-box .location {
    color: #B51827; }
    .product-info-box .location .svg-icon {
      fill: #B51827; }
  .product-info-box h4 {
    margin: 0 0 4px;
    font-size: 18px;
    font-weight: 500; }

.product-info-box__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin: 0 0 4px; }
  .product-info-box__line span {
    margin: 0 8px 0 0;
    color: #817A6C; }

.img-pay {
  border: 1px solid #C0BCB5;
    border-radius: 4px;
  max-width: 180px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0 0; }

.product-info-box-delivery {
  margin: 32px 0 0; }
  .product-info-box-delivery:last-child {
    margin: 32px 0 0; }

.other-goods {
  background: url("../img/decor-bg5.svg") no-repeat center;
    background-size: 100%;
  padding: 32px 0 0; }
  .other-goods h2 {
    text-align: center; }

.other-goods-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .other-goods-wrapper .news-card {
    margin: 32px 12px 0; }

.consultation-basket .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.consultation-basket h2 {
  max-width: calc(100% - 544px);
  padding: 10px 32px 0 0; }

.basket {
  padding: 0 0 48px;
  background: url("../img/decor-bg6.svg") no-repeat center bottom;
    background-size: cover; }

.registration-product {
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0px 0px 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0px 0px 24px rgba(129, 122, 108, 0.16);
  background: #fff;
  padding: 16px 24px 24px;
  width: 384px; }
  .registration-product .btn {
    width: 100%; }
  .registration-product h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin: 0 auto 24px; }
  .registration-product label {
    margin: 0 0 24px; }

.total-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 24px; }
  .total-line span {
    font-weight: 500; }

.total-sum {
  font-size: 24px; }

.basket-content__wrap {
  width: calc(100% - 384px);
  padding: 0 32px 0 0; }

.basket-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.product-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
  background: #fff;
  margin: 0 0 32px; }

.product-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 240px;
  height: 180px; }
  .product-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.product-card__body {
  width: calc(100% - 240px);
  padding: 16px 32px 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500; }

.label-amount {
  max-width: 72px; }
  .label-amount input {
    text-align: center;
    color: #333132; }
    .label-amount input::-webkit-input-placeholder {
      color: #333132; }
    .label-amount input::-moz-placeholder {
      color: #333132; }
    .label-amount input::-ms-input-placeholder {
      color: #333132; }
    .label-amount input::placeholder {
      color: #333132; }

.product-card__it {
  max-width: 208px;
  width: 100%; }

.product-card__title {
  color: #333132;
  margin: 0 0 8px; }

.article {
  color: #817A6C;
  font-size: 12px;
  font-weight: 400; }

.btn-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #B51827;
  width: 16px;
  height: 16px;
  margin: 15px 0 0; }

.cost {
  margin: 15px 0 0; }

.additional-goods {
  max-width: 768px;
  width: 100%; }
  .additional-goods h2 {
    text-align: center; }
  .additional-goods .news-card {
    margin: 32px auto 0; }

.basket .mobile-registration {
  display: none; }
  .basket .mobile-registration .registration-product {
    display: block; }

.delivery-order {
  padding: 0 0 48px; }

.attention {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #817A6C;
  font-size: 12px; }
  .attention svg {
    fill: #E8A016;
    margin: 5px 9px 0 0;
    width: 14px;
    height: 12px;
    min-width: 14px; }

.delivery-order-box {
  background: #fff;
  width: 100%;
  margin: 0 0 16px;
  -webkit-box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
          box-shadow: 0 2px 4px rgba(129, 122, 108, 0.16), 0 0 24px rgba(129, 122, 108, 0.16);
  padding: 16px 24px 24px; }
  .delivery-order-box:last-child {
    margin: 0; }
  .delivery-order-box h3 {
    margin: 0 0 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 500; }
  .delivery-order-box label input {
    color: #333132; }
    .delivery-order-box label input::-webkit-input-placeholder {
      color: #333132; }
    .delivery-order-box label input::-moz-placeholder {
      color: #333132; }
    .delivery-order-box label input::-ms-input-placeholder {
      color: #333132; }
    .delivery-order-box label input::placeholder {
      color: #333132; }
  .delivery-order-box .form-group .label-street {
    max-width: 48%; }
  .delivery-order-box .form-group .label-apartment, .delivery-order-box .form-group .label-home {
    max-width: 22.5%; }
  .delivery-order-box .input-doc input::-webkit-input-placeholder {
    color: #C0BCB5; }
  .delivery-order-box .input-doc input::-moz-placeholder {
    color: #C0BCB5; }
  .delivery-order-box .input-doc input::-ms-input-placeholder {
    color: #C0BCB5; }
  .delivery-order-box .input-doc input::placeholder {
    color: #C0BCB5; }

.input-title {
  display: block;
  width: 100%;
  margin: 0 0 8px; }

.tabs__content {
  display: none;
  width: 100%;
  padding: 24px 0 0; }
  .tabs__content .location {
    color: #B51827;
    width: 100%; }
    .tabs__content .location svg {
      fill: #B51827; }

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tabs {
  margin: 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #C0BCB5;
    border-radius: 4px;
  font-weight: 500;
  cursor: pointer; }
  .tabs__caption li {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 16px;
    position: relative; }
    .tabs__caption li:before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 1px;
      height: 24px;
      background: #C0BCB5; }
    .tabs__caption li:last-child:before {
      display: none; }
  .tabs__caption .active {
    color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(181, 24, 39, 0.32), inset 0px -4px 8px rgba(231, 34, 52, 0.8);
            box-shadow: 0 4px 8px rgba(181, 24, 39, 0.32), inset 0px -4px 8px rgba(231, 34, 52, 0.8);
    border-radius: 4px;
    background: #B51827; }
    .tabs__caption .active:before {
      opacity: 0; }
  .tabs__caption .disabled {
    color: #C0BCB5; }

.list-delivery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 24px;
  margin: 0 0 24px; }
  .list-delivery span {
    font-size: 24px;
    font-weight: 500;
    margin: 8px 0 0;
    display: block; }
  .list-delivery li {
    width: 50%; }

.delivery-order-box-data .attention {
  margin: 0 0 24px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1230px) {
  .catalog-wrapper .container {
    padding: 0 15px; } }

@media only screen and (max-width: 1200px) {
  .home-menu li, .menu li, header .list-social li {
    margin: 0 15px 0 0; }
  .links-basket {
    margin: 0 0 0 15px; }
  .category-links {
    font-size: 30px; }
  .list-mark {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .list-mark li {
      width: 20%;
      margin: 0 0 5px; }
      .list-mark li img {
        max-width: 48px;
        margin: 0 auto; }
  .news-slider, .gallery-clients-slider, .article-gallery__slider {
    padding: 0 30px; }
  .gallery-clients__box {
    max-width: 95%; }
  .catalog-wrapper__content {
    max-width: 300px; }
  .catalog-wrapper .wrapper-row {
    width: calc(100% - 300px); }
  .category-section .container {
    padding: 0 15px; }
  .product-slider-min {
    padding: 0 40px; }
  .registration-product {
    width: 320px; }
  .basket-content__wrap {
    width: calc(100% - 320px); } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .catalog-wrapper__content {
    margin: 0 0 20px;
    max-width: none; }
  .catalog-wrapper .wrapper-row {
    width: 100%;
    padding: 0; }
  .product-slider-min {
    padding: 0 20px; }
  .basket .registration-product {
    display: none;
    width: 100%; }
  .basket-content__wrap {
    width: 100%;
    padding: 0; }
  .basket .mobile-registration {
    display: block;
    max-width: none;
    margin: 0 auto 30px;
    width: 100%; }
  .additional-goods {
    max-width: none; } }

@media only screen and (max-width: 992px) {
  .menu, .header-bottom {
    font-size: 12px; }
  .header-top .links-call {
    display: none; }
  .logo {
    max-width: 80px; }
  .category-box__content {
    padding: 20px; }
  .category-links {
    font-size: 24px; }
  .col {
    max-width: 320px; }
  .category-box {
    width: calc(100% - 340px); }
  .category-box__min {
    width: 100%; }
  .select-brand h2 {
    padding: 0;
    margin: 0 0 20px; }
  .form-selected {
    max-width: 450px; }
  .select-brand__box {
    width: calc(100% - 450px); }
  h2 {
    font-size: 26px; }
  .box-text {
    font-size: 14px;
    line-height: 20px; }
  .about-articles__box {
    padding: 20px 25px; }
    .about-articles__box .btn {
      margin: 20px 0 0; }
  .articles-item {
    margin: 0 0 15px; }
  .articles-item__name {
    font-size: 14px; }
  .btn {
    font-size: 14px;
    padding: 0 16px; }
  .btn-grey {
    height: 42px; }
  .delivery {
    padding: 0 0 30px; }
  h1 {
    font-size: 30px; }
  .form {
    max-width: 450px; }
  .consultation h2 {
    max-width: none;
    width: calc(100% - 450px);
    padding: 0 30px 0 0; }
  .form-sorting label {
    width: 220px; }
  .col-4 {
    width: 33.3%; }
  .product-slider-max__item {
    height: 300px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 850px) {
  header .home-menu, header .menu {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .logo {
    margin: 0 auto 0 0; }
  .form-selected {
    max-width: 400px; }
  .select-brand__box {
    width: calc(100% - 400px); }
  footer .footer-box {
    width: 50%;
    margin: 0 0 20px; }
    footer .footer-box:nth-child(2) h3 {
      text-align: right; }
    footer .footer-box:nth-child(2) .footer-menu {
      text-align: right; }
  footer .btn {
    margin: 0 0 0 auto; }
  .developer {
    margin: 20px 0 0; }
  .product-slider-max__schema {
    max-width: 150px; } }

@media only screen and (max-width: 768px) {
  .category-box {
    width: 100%;
    max-height: 320px; }
  .col {
    max-width: none;
    height: auto; }
  .category-box__min .category-box__content {
    padding: 20px; }
  .form-selected {
    max-width: 100%;
    margin: 20px 0 0; }
  .select-brand__box {
    width: 100%; }
  .decor-bg, .consultation {
    padding: 30px 0; }
  .about-articles__box {
    width: 100%;
    margin: 0 0 30px; }
    .about-articles__box:last-child {
      margin: 0; }
  .btn {
    height: 40px; }
  .gallery-clients__box-img {
    height: 250px; }
  .gallery-clients__box-body {
    padding: 20px; }
  .form {
    max-width: none; }
  .consultation h2 {
    width: 100%;
    padding: 0;
    margin: 0 auto 30px;
    text-align: center; }
  input {
    font-size: 14px; }
  .delivery-box h3, .dealers-box h3 {
    font-size: 20px; }
  h1 {
    font-size: 26px;
    margin: 0 auto 30px; }
  .subtitle {
    font-size: 20px; }
  .news-box__photo {
    width: 240px;
    height: 200px; }
  .news-box__content {
    width: calc(100% - 240px);
    padding: 0 0 0 20px; }
  .news-box__title {
    font-size: 18px; }
  .news-section {
    padding: 0 0 30px; }
  .article-gallery__item {
    height: 250px; }
  .img-wrapper {
    max-height: 300px; }
  .catalog-wrapper .wrapper-row {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .form-sorting {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form-sorting label {
      width: 49%;
      margin: 0 0 20px; }
    .form-sorting button {
      max-width: 49%; }
  select {
    height: 40px;
    font-size: 14px; }
  .catalog-wrapper {
    padding: 24px 0; }
  .col-3, .col-4 {
    width: 50%; }
  .category-section {
    padding: 0 0 30px; }
  .product {
    padding: 0 0 20px; }
  .product-photo {
    padding: 0;
    width: 100%;
    margin: 0 0 30px; }
  .product-info-box h3 {
    font-size: 20px; }
  .product-information {
    width: 100%; }
  .product-card__it {
    max-width: none;
    margin: 0 0 20px; }
  .basket, .delivery-order {
    padding: 0 0 30px; }
  .delivery-order-box h3 {
    font-size: 20px;
    margin: 0 0 16px; }
  .list-delivery span {
    font-size: 20px; }
  .delivery-order-box .form-group .label-apartment, .delivery-order-box .form-group .label-home {
    max-width: 49%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .category-links {
    font-size: 20px; }
  .category-box__content .list-dots {
    font-size: 14px; }
  .gallery-clients__box {
    max-width: 90%; }
  .gallery-clients-slider {
    padding: 0; }
  .article-gallery__slider {
    padding: 0 15px; }
  .maps {
    height: 300px; }
  .news-box__photo {
    margin: 0 auto 15px;
    width: 100%; }
  .news-box__content {
    width: 100%;
    padding: 0; }
  .form-sorting label, .form-sorting button {
    margin: 0 0 20px;
    width: 100%;
    max-width: none; }
  .product-card__img {
    width: 160px;
    height: 170px; }
  .product-card__body {
    font-size: 14px;
    padding: 10px;
    width: calc(100% - 160px); }
  .tabs__caption li {
    width: 50%; }
    .tabs__caption li:before {
      display: none; } }

@media only screen and (max-width: 480px) {
  header .list-social {
    display: none; }
  .form-group label {
    width: 100%; }
  select {
    font-size: 14px;
    padding: 0 14px; }
  .form-group select {
    background-position: 96% center; }
  .col-3, .col-4 {
    width: 100%; }
  .list-delivery li {
    width: 100%; } }

@media only screen and (max-width: 420px) {
  .header-bottom .links-text {
    display: none; }
  .header-bottom .links .svg-icon {
    width: 20px;
    height: 20px;
    margin: 0; }
  .header-top {
    font-size: 11px; }
  .header-box .svg-icon {
    width: 14px;
    height: 14px; }
  .news-slider {
    padding: 0 10px; }
  footer {
    padding: 30px 0; }
    footer .footer-box {
      width: 100%; }
      footer .footer-box:nth-child(2) h3, footer .footer-box:nth-child(2) .footer-menu {
        text-align: left; }
    footer .phone {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    footer .btn {
      margin: 0; }
  .developer img {
    margin: 0; }
  .product-slider-max__schema {
    max-width: 100px;
    padding: 10px; }
  .product-slider-max__item {
    height: 250px; }
  .product-information .price-wrapper {
    font-size: 30px; }
  .product-card__img {
    width: 100%;
    height: 160px; }
  .product-card__body {
    width: 100%; }
  .total-sum {
    font-size: 20px; }
  .delivery-order-box .form-group .label-apartment, .delivery-order-box .form-group .label-home, .delivery-order-box .form-group .label-street {
    max-width: none; }
  .input-title {
    font-size: 14px; } }
