@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1230px)
  .catalog-wrapper .container
    padding: 0 15px

@media only screen and (max-width : 1200px)
  .home-menu li, .menu li, header .list-social li
    margin: 0 15px 0 0

  .links-basket
    margin: 0 0 0 15px

  .category-links
    font-size: 30px

  .list-mark
    justify-content: flex-start

  .list-mark-logo
    width: 20%
    margin: 0 0 5px
    img
      max-width: 48px
      margin: 0 auto

  .news-slider, .gallery-clients-slider, .article-gallery__slider
    padding: 0 30px

  .gallery-clients__box
    max-width: 95%

  .catalog-wrapper__content
    max-width: 300px

  .catalog-wrapper .wrapper-row
    width: calc(100% - 300px)

  .category-section .container
    padding: 0 15px

  .product-slider-min
    padding: 0 40px

  .registration-product
    width: 320px

  .basket-content__wrap
    width: calc(100% - 320px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px)
  .catalog-wrapper__content
    margin: 0 0 20px
    max-width: none

  .catalog-wrapper .wrapper-row
    width: 100%
    padding: 0

  .product-slider-min
    padding: 0 20px

  .basket .registration-product
    display: none
    width: 100%

  .basket-content__wrap
    width: 100%
    padding: 0

  .basket .mobile-registration
    display: block
    max-width: none
    margin: 0 auto 30px
    width: 100%

  .additional-goods
    max-width: none

@media only screen and (max-width : 992px)
  .menu, .header-bottom
    font-size: 12px

  .header-top .links-call
    display: none

  .logo
    max-width: 80px

  .category-box__content
    padding: 20px

  .category-links
    font-size: 24px

  .col
    max-width: 320px

  .category-box
    width: calc(100% - 340px)

  .category-box__min
    width: 100%

  .select-brand h2
    padding: 0
    margin: 0 0 20px

  .form-selected
    max-width: 450px

  .select-brand__box
    width: calc(100% - 450px)

  h2
    font-size: 26px

  .box-text
    font-size: 14px
    line-height: 20px

  .about-articles__box
    padding: 20px 25px
    .btn
      margin: 20px 0 0

  .articles-item
    margin: 0 0 15px

  .articles-item__name
    font-size: 14px

  .btn
    font-size: 14px
    padding: 0 16px

  .btn-grey
    height: 42px

  .delivery
    padding: 0 0 30px

  h1
    font-size: 30px

  .form
    max-width: 450px

  .consultation h2
    max-width: none
    width: calc(100% - 450px)
    padding: 0 30px 0 0

  .form-sorting label
    width: 220px

  .col-4
    width: 33.3%

  .product-slider-max__item
    height: 300px

  .footer-box
    &:nth-child(3)
      margin: 0


/* Small Devices, Tablets */
@media only screen and (max-width : 850px)
  header .home-menu, header .menu
    display: none

  .btn-burger
    display: flex

  .logo
    margin: 0 auto 0 0

  .form-selected
    max-width: 400px

  .select-brand__box
    width: calc(100% - 400px)

  footer
    .footer-box
      width: 50%
      margin: 0 0 20px
      &:nth-child(2)
        h3
          text-align: right
        .footer-menu
          text-align: right
    .btn
      margin: 0 0 0 auto

  .developer
    margin: 20px 0 0

  .product-slider-max__schema
    max-width: 150px


@media only screen and (max-width : 768px)
  .category-box
    width: 100%
    max-height: 320px

  .col
    max-width: none
    height: auto

  .category-box__min .category-box__content
    padding: 20px

  .form-selected
    max-width: 100%
    margin: 20px 0 0

  .select-brand__box
    width: 100%

  .decor-bg, .consultation
    padding: 30px 0

  .about-articles__box
    width: 100%
    margin: 0 0 30px
    &:last-child
      margin: 0

  .btn
    height: 40px

  .gallery-clients__box-img
    height: 250px

  .gallery-clients__box-body
    padding: 20px

  .form
    max-width: none

  .consultation h2
    width: 100%
    padding: 0
    margin: 0 auto 30px
    text-align: center

  input
    font-size: 14px

  .delivery-box, .dealers-box
    h3
      font-size: 20px

  h1
    font-size: 26px
    margin: 0 auto 30px

  .subtitle
    font-size: 20px

  .news-box__photo
    width: 240px
    height: 200px

  .news-box__content
    width: calc(100% - 240px)
    padding: 0 0 0 20px

  .news-box__title
    font-size: 18px

  .news-section
    padding: 0 0 30px

  .article-gallery__item
    height: 250px

  .img-wrapper
    max-height: 300px

  .catalog-wrapper .wrapper-row
    justify-content: space-around

  .form-sorting
    justify-content: space-between
    label
      width: 49%
      margin: 0 0 20px
    button
      max-width: 49%

  select
    height: 40px
    font-size: 14px

  .catalog-wrapper
    padding: 24px 0

  .col-3, .col-4
    width: 50%

  .category-section
    padding: 0 0 30px

  .product
    padding: 0 0 20px

  .product-photo
    padding: 0
    width: 100%
    margin: 0 0 30px

  .product-info-box h3
    font-size: 20px

  .product-information
    width: 100%

  .product-card__it
    max-width: none
    margin: 0 0 20px

  .basket, .delivery-order
    padding: 0 0 30px

  .delivery-order-box
    h3
      font-size: 20px
      margin: 0 0 16px

  .list-delivery span
    font-size: 20px

  .delivery-order-box .form-group .label-apartment, .delivery-order-box .form-group .label-home
    max-width: 49%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
  .category-links
    font-size: 20px

  .category-box__content .list-dots
    font-size: 14px

  .gallery-clients__box
    max-width: 90%

  .gallery-clients-slider
    padding: 0

  .article-gallery__slider
    padding: 0 15px

  .maps
    height: 300px

  .news-box__photo
    margin: 0 auto 15px
    width: 100%


  .news-box__content
    width: 100%
    padding: 0

  .form-sorting
    label, button
      margin: 0 0 20px
      width: 100%
      max-width: none

  .product-card__img
    width: 160px
    height: 170px

  .product-card__body
    font-size: 14px
    padding: 10px
    width: calc(100% - 160px)

  .tabs__caption
    li
      width: 50%
      &:before
        display: none

  .modal__wrapper
    padding: 30px

  .modal__wrapper .tabs__caption
    font-size: 20px
    li
      width: auto

@media only screen and (max-width : 480px)
  header
    .list-social
      display: none

  .form-group label
    width: 100%

  select
    font-size: 14px
    padding: 0 14px

  .form-group
    select
      background-position: 96% center

  .col-3, .col-4
    width: 100%

  .list-delivery li
    width: 100%



@media only screen and (max-width : 420px)
  .header-bottom
    .links-text
      display: none
    .links
      .svg-icon
        width: 20px
        height: 20px
        margin: 0

  .header-top
    font-size: 11px

  .header-box .svg-icon
    width: 14px
    height: 14px

  .news-slider
    padding: 0 10px
    
  footer
    padding: 30px 0
    .footer-box
      width: 100%
      &:nth-child(2)
        h3, .footer-menu
          text-align: left
    .phone
      justify-content: flex-start
    .btn
      margin: 0

  .footer-box:nth-child(3)
    margin: 0 0 20px    

  .developer
    img
      margin: 0

  .product-slider-max__schema
    max-width: 100px
    padding: 10px

  .product-slider-max__item
    height: 250px

  .product-information .price-wrapper
    font-size: 30px

  .product-card__img
    width: 100%
    height: 160px

  .product-card__body
    width: 100%

  .total-sum
    font-size: 20px

  .delivery-order-box .form-group .label-apartment, .delivery-order-box .form-group .label-home, .delivery-order-box .form-group .label-street
    max-width: none

  .input-title
    font-size: 14px

  .modal__wrapper .line-wrapper .btn
    width: 100%
    margin: 20px 0 0

  .modal__wrapper .box-text
    line-height: 24px